body{
  margin: 0;
  padding: 0;
  background-color: chartreuse;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
  display: flex;
  
}
.navbar a{
  background-color: #cf06c9;
  padding: 1%;
  width: 100%;
  color: white;
  flex-wrap: wrap;
  text-decoration: none;
  
}
.text{
  margin-top: 5%;
  font-size: 1.2em;
}
.navbar a:hover{
  background-color: darkblue;
  font-style: italic;
}
.container{
  border: 2px solod black;
  background-color: rgb(230, 236, 233);
  color: #4a69c1;
  height: fit-content;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  font-size: 1.2em;
}
.page_title{
  border: 1px solid blueviolet;
  height: fit-content;
  width: fit-content;
  background-color:  #d0ccd3;
  color: #581f70;
  padding: 1%;
  margin: 2%;
}
.form{
  border: 2px solid gray;
  margin-bottom: 2%;
}
 .form_input{
  padding: 1%;
  margin:auto;
  margin-top: 2%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.form_input input, .form_input select, .form_input textarea{
  outline: none;
  border: 2px solid white;
  border-bottom: 2px solid green;
  border-radius: 4px;
}
.form_input label{
  display: flex;
}

.form_input span{
  padding: 1%;
  width: 25%;
  margin-left: 5%;
  flex-wrap: wrap;
  text-decoration: none;
  
}
.form_input input, .form_input textarea{
  width: 50%;
  padding: 1%;
  flex-wrap: wrap;
}
.form_input select{
  width: 52.5%;
  padding: 1%;
  flex-wrap: wrap;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form_input input:focus, .form_input input:active, 
.form_input select:active,  .form_input select:focus,
.form_input textarea:active, .form_input textarea:focus{
  border-color: blue;
}

.submit_btn_div button{
   border: 2px solid blue;
   color: burlywood;
   background-color: blue;
   font-size: 1em;
   padding: 1%;
   padding-left: 2%;
   padding-right: 2%;
   border-radius: 3px;
   cursor: pointer;
}
.submit_btn_div button:hover{
  border-color: darkblue;
  background-color: darkblue;
  color: white;
}
.danger button{
  border: 2px solid red;
  background-color: red;
}
.danger button:hover{
  border-color: darkred;
  background-color: darkred;
}
.description{
  text-align: center;
  display: block;
}
.marg-2{
  margin: 2%;
}
h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  color: #0ccac4;
}

.label{
  text-align: right;
/* style for avilable vaccine and beds data */
.data_table{
  /* border: 2px solid green; */
  height: fit-content;
  width: 90%;
  padding: 2%;
  margin: auto;
  margin-bottom: 3%;
  /* background-color: white; */
}
.data_table_title{
  font-size: 2em;
  color: #d5cdd5;
  margin: 2%;
  display: block;
}

table{
  border-collapse: collapse;
  width: 100%;
}
th{
  background: #22abeb;
  color: white;
}
td, th{
  border: 1px solid blue;
  text-align: center;
  padding: 10px;
}
tr:nth-child(even){
  background-color: white;
}
tr:nth-child(odd){
  background-color: antiquewhite;
}
